data_stream_flow1.json
{"flowContents":{"identifier":"06c94972-1858-399a-a80e-c8c3f36e0d63","instanceIdentifier":"019b1000-65cd-15cd-e156-4c0bd591613e","name":"Copy of Copy of airlineflow_(1) (1)","comments":"","position":{"x":1720.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6afbb436-7063-365c-9eca-0172975a551e","instanceIdentifier":"70fdcaff-019b-1000-bc00-238a74e0e64f","name":"SplitRecord","comments":"","position":{"x":-704.0,"y":128.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"64d865c4-c82d-332b-9c85-dc4861c5a900","Record Reader":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e","name":"EvaluateJsonPath","comments":"","position":{"x":-352.0,"y":360.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"base_delay":"$.arr_delay","base_late_aircraft_delay":"$.late_aircraft_delay","base_flights":"$.arr_flights","Destination":"flowfile-attribute","tmpl_security_ct":"$.security_ct","tmpl_weather_ct":"$.weather_ct","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","tmpl_airport":"$.airport","base_security_delay":"$.security_delay","base_carrier_delay":"$.carrier_delay","base_del15":"$.arr_del15","base_weather_delay":"$.weather_delay","tmpl_carrier":"$.carrier","base_nas_delay":"$.nas_delay"},"propertyDescriptors":{"base_delay":{"name":"base_delay","displayName":"base_delay","identifiesControllerService":false,"sensitive":false},"base_late_aircraft_delay":{"name":"base_late_aircraft_delay","displayName":"base_late_aircraft_delay","identifiesControllerService":false,"sensitive":false},"base_flights":{"name":"base_flights","displayName":"base_flights","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"tmpl_security_ct":{"name":"tmpl_security_ct","displayName":"tmpl_security_ct","identifiesControllerService":false,"sensitive":false},"tmpl_weather_ct":{"name":"tmpl_weather_ct","displayName":"tmpl_weather_ct","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"tmpl_airport":{"name":"tmpl_airport","displayName":"tmpl_airport","identifiesControllerService":false,"sensitive":false},"base_security_delay":{"name":"base_security_delay","displayName":"base_security_delay","identifiesControllerService":false,"sensitive":false},"base_carrier_delay":{"name":"base_carrier_delay","displayName":"base_carrier_delay","identifiesControllerService":false,"sensitive":false},"base_del15":{"name":"base_del15","displayName":"base_del15","identifiesControllerService":false,"sensitive":false},"base_weather_delay":{"name":"base_weather_delay","displayName":"base_weather_delay","identifiesControllerService":false,"sensitive":false},"tmpl_carrier":{"name":"tmpl_carrier","displayName":"tmpl_carrier","identifiesControllerService":false,"sensitive":false},"base_nas_delay":{"name":"base_nas_delay","displayName":"base_nas_delay","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"bc96a5cb-1758-327a-85fb-747e0c954a13","instanceIdentifier":"ee083aed-244b-14e4-da75-24521d821345","name":"DuplicateFlowFile","comments":"","position":{"x":-392.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Number of Copies":"100"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b","name":"PublishKafka_2_6","comments":"","position":{"x":640.0,"y":40.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"compression.type":"gzip","attribute-name-regex":null,"bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"30 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"airline-delays","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8","name":"QueryRecord","comments":"","position":{"x":336.0,"y":280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","invalid_records":"SELECT * FROM FLOWFILE WHERE arr_del15 > arr_flights OR arr_delay >= 100000","record-writer":"64d865c4-c82d-332b-9c85-dc4861c5a900","record-reader":"567f0b74-edaa-38dd-8253-62254c5e815c","include-zero-record-flowfiles":"false","dbf-default-scale":"0","valid_records":"SELECT * FROM FLOWFILE WHERE arr_flights > 0 AND arr_del15 <= arr_flights AND arr_delay < 100000"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"invalid_records":{"name":"invalid_records","displayName":"invalid_records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"valid_records":{"name":"valid_records","displayName":"valid_records","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"10ecd00a-1a99-38eb-8393-b011c6620177","instanceIdentifier":"7391d4e6-019b-1000-a644-153ee9103337","name":"ExecuteScript","comments":"","position":{"x":24.0,"y":96.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport sys\nimport traceback\nimport uuid\nimport random\nimport time\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\n\nclass TransformCallback(StreamCallback):\n    def __init__(self):\n        self.template_record = None\n        self.output_record = None\n    \n    def process(self, inputStream, outputStream):\n        try:\n            # Read input\n            text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n            self.template_record = json.loads(text)\n            \n            # Extract base values\n            base_flights = self.template_record.get('arr_flights', 0)\n            base_carrier = self.template_record.get('carrier', '')\n            base_carrier_name = self.template_record.get('carrier_name', '')\n            base_airport = self.template_record.get('airport', '')\n            base_airport_name = self.template_record.get('airport_name', '')\n            \n            # Apply random variation to flight count (±15-25%)\n            variation_factor = 0.85 + (random.random() * 0.30)\n            arr_flights = max(1, int(round(base_flights * variation_factor)))\n            \n            # Determine if there are delays (realistic probability ~20-30%)\n            has_delays = random.random() < 0.25\n            arr_del15 = 0\n            arr_delay = 0\n            carrier_delay = 0\n            weather_delay = 0\n            nas_delay = 0\n            security_delay = 0\n            late_aircraft_delay = 0\n            carrier_ct = 0\n            weather_ct = 0\n            nas_ct = 0\n            security_ct = 0\n            late_aircraft_ct = 0\n            \n            if has_delays and arr_flights > 0:\n                # Calculate number of delayed flights\n                arr_del15 = max(1, int(round(arr_flights * (0.1 + random.random() * 0.3))))\n                \n                # Generate total delay minutes\n                avg_delay_per_flight = 20 + random.randint(0, 480)\n                arr_delay = arr_del15 * avg_delay_per_flight\n                \n                # RULE 1: Distribute arrDelay across components\n                # RULE 5: Weather is rare (5-10%)\n                # RULE 6: Security is VERY rare (0-1%)\n                \n                carrier_prop = 0.30 + random.random() * 0.15    # 30-45%\n                weather_prop = random.random() * 0.08           # 0-8% (RARE)\n                security_prop = random.random() * 0.012         # 0-1.2% (VERY RARE)\n                nas_prop = 0.20 + random.random() * 0.15        # 20-35%\n                \n                # Normalize\n                total_prop = carrier_prop + weather_prop + security_prop + nas_prop\n                late_aircraft_prop = max(0, 1.0 - total_prop)\n                \n                # Recalculate\n                total = total_prop + late_aircraft_prop\n                carrier_prop = carrier_prop / total\n                weather_prop = weather_prop / total\n                security_prop = security_prop / total\n                nas_prop = nas_prop / total\n                late_aircraft_prop = late_aircraft_prop / total\n                \n                # Apply proportions\n                carrier_delay = int(round(arr_delay * carrier_prop))\n                weather_delay = int(round(arr_delay * weather_prop))\n                security_delay = int(round(arr_delay * security_prop))\n                nas_delay = int(round(arr_delay * nas_prop))\n                late_aircraft_delay = int(round(arr_delay * late_aircraft_prop))\n                \n                # RULE 1: Ensure exact sum\n                calculated_sum = carrier_delay + weather_delay + security_delay + nas_delay + late_aircraft_delay\n                difference = arr_delay - calculated_sum\n                carrier_delay += difference\n                \n                # RULE 3: Calculate count fields\n                carrier_ct = max(1, int(round(arr_del15 * carrier_prop * 1.2))) if carrier_delay > 0 else 0\n                weather_ct = max(0, int(round(arr_del15 * weather_prop * 1.5))) if weather_delay > 0 else 0\n                security_ct = 1 if (security_delay > 0 and random.random() < 0.5) else 0\n                nas_ct = max(1, int(round(arr_del15 * nas_prop * 1.2))) if nas_delay > 0 else 0\n                late_aircraft_ct = max(1, int(round(arr_del15 * late_aircraft_prop * 1.2))) if late_aircraft_delay > 0 else 0\n                \n                # RULE 5: Ensure weather_ct stays very low\n                weather_ct = min(weather_ct, 3)\n                \n                # RULE 6: Ensure security_ct is 0 or 1\n                security_ct = min(security_ct, 1)\n            \n            # RULE 8: Month-based seasonality\n            month = 1 + random.randint(0, 11)\n            \n            # Generate unique ID\n            unique_id = \"{}_{}\".format(str(uuid.uuid4()), int(time.time() * 1000))\n            \n            # Build output record\n            self.output_record = {\n                'id': unique_id,\n                'message_id': str(uuid.uuid4()),\n                'kafka_key': \"{}_{}_{}\".format(base_airport, base_carrier, int(time.time() * 1000)),\n                'processing_timestamp': time.strftime('%Y-%m-%d %H:%M:%S.000'),\n                'sequence_number': int(time.time() * 1000),\n                \n                'year': 2025,\n                'month': month,\n                'carrier': base_carrier,\n                'carrier_name': base_carrier_name,\n                'airport': base_airport,\n                'airport_name': base_airport_name,\n                \n                'arr_flights': arr_flights,\n                'arr_del15': arr_del15,\n                'arr_delay': arr_delay,\n                \n                'carrier_ct': carrier_ct,\n                'weather_ct': weather_ct,\n                'nas_ct': nas_ct,\n                'security_ct': security_ct,\n                'late_aircraft_ct': late_aircraft_ct,\n                \n                'carrier_delay': carrier_delay,\n                'weather_delay': weather_delay,\n                'nas_delay': nas_delay,\n                'security_delay': security_delay,\n                'late_aircraft_delay': late_aircraft_delay,\n                \n                'arr_cancelled': 0,\n                'arr_diverted': 0\n            }\n            \n            # Write output\n            output_json = json.dumps(self.output_record)\n            outputStream.write(bytearray(output_json.encode('utf-8')))\n            \n        except Exception as e:\n            traceback.print_exc(file=sys.stderr)\n            raise e\n\n# Main execution\nflowFile = session.get()\nif flowFile is not None:\n    try:\n        callback = TransformCallback()\n        flowFile = session.write(flowFile, callback)\n        session.transfer(flowFile, REL_SUCCESS)\n    except Exception as e:\n        log.error('Error processing FlowFile: {}'.format(str(e)))\n        session.transfer(flowFile, REL_FAILURE)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"c003f740-299d-3508-87c3-fcee9ef55848","instanceIdentifier":"ee083ad7-244b-14e4-48ae-446c6776d611","name":"GetFile","comments":"","position":{"x":-896.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"Nifi_Templates_1500.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cb391c1d-d6b0-39f7-bd2d-232210e49497","instanceIdentifier":"7391edea-019b-1000-5615-1f0e16e5d411","name":"","source":{"id":"bc96a5cb-1758-327a-85fb-747e0c954a13","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"ee083aed-244b-14e4-da75-24521d821345"},"destination":{"id":"10ecd00a-1a99-38eb-8393-b011c6620177","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"ExecuteScript","comments":"","instanceIdentifier":"7391d4e6-019b-1000-a644-153ee9103337"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"f2e77f38-a418-34d3-9d22-7eff33e8827d","instanceIdentifier":"70c5d8e7-019b-1000-06c1-dbdc1a0f80da","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e"},"destination":{"id":"bc96a5cb-1758-327a-85fb-747e0c954a13","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"ee083aed-244b-14e4-da75-24521d821345"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"8f934b12-d405-33a6-a280-a6e2d5399a17","instanceIdentifier":"ee083b18-244b-14e4-5913-55896c965cc3","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"destination":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid_records"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"485a22fc-080e-3a37-930b-43121a57c30b","instanceIdentifier":"ee083b02-244b-14e4-00c4-e9fdf6d630dd","name":"","source":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b"},"destination":{"id":"581f26ec-b03e-3362-b880-5488979104c0","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"7102945f-019b-1000-0004-3bf548746f05"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":816.0,"y":-24.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"6e37de77-204c-333c-a920-abd28eb075f4","instanceIdentifier":"ee083afe-244b-14e4-6e2b-f2a6dfe0e17f","name":"","source":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b"},"destination":{"id":"0d259089-7318-3dca-b322-2904fc81d713","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083afd-244b-14e4-69c8-5d88b9ee95a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"2e7b9836-0bda-35bc-9be8-9e37ee523608","instanceIdentifier":"719a9181-019b-1000-17f0-46117793eec0","name":"","source":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"SplitRecord","comments":"","instanceIdentifier":"70fdcaff-019b-1000-bc00-238a74e0e64f"},"destination":{"id":"fc6af941-7d2d-3031-89da-5d238981cf08","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"718f1bf2-019b-1000-da48-44f7e4e2be31"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"9dd4927a-dc01-3291-9a4c-f1bcb4d8aeb7","instanceIdentifier":"7199cc3b-019b-1000-f628-5dfd31f8271f","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e"},"destination":{"id":"144a25dc-0487-3117-9a11-c50d76d680e0","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"7196cc16-019b-1000-62a7-b201008a8b9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"f3c6139a-0356-3acd-af4b-41f26b25a45b","instanceIdentifier":"70fe0bcd-019b-1000-82f3-84d1e5393c8d","name":"","source":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"SplitRecord","comments":"","instanceIdentifier":"70fdcaff-019b-1000-bc00-238a74e0e64f"},"destination":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"868e8b0d-dfac-37ac-a51f-be3b6745af16","instanceIdentifier":"7194c4dc-019b-1000-f888-439f5f0aa94d","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"destination":{"id":"8465c438-6bf0-3b27-b0eb-d1c99e294efe","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"718ee4f2-019b-1000-a772-49fab78a6fc6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"58b48c9b-66ef-3532-ad1e-c91a4ef97bbf","instanceIdentifier":"7392062e-019b-1000-84b3-b9bcaf6094a9","name":"","source":{"id":"10ecd00a-1a99-38eb-8393-b011c6620177","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"ExecuteScript","comments":"","instanceIdentifier":"7391d4e6-019b-1000-a644-153ee9103337"},"destination":{"id":"403b47b4-155f-3b47-994a-410a87a4fa89","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"71826c9f-019b-1000-3b67-487a88ebd271"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"f14fa01d-7298-3fc8-acf8-9392c821adcf","instanceIdentifier":"719521ab-019b-1000-1bdc-fbbcd181b451","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"destination":{"id":"0454f639-7f58-3aa0-b7a1-c9bc610e600f","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"718ed571-019b-1000-bcd1-eb7ef2ca3bf8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["invalid_records"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"1646c08a-98f2-32b8-abea-06acfe3db336","instanceIdentifier":"719605ed-019b-1000-0c90-cf5da69f01c1","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"destination":{"id":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083aff-244b-14e4-5ce7-883141e7fc14"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"661cfb7e-af4d-310a-b692-24207e7a0f5a","instanceIdentifier":"73921b45-019b-1000-8c69-4736deb15204","name":"","source":{"id":"10ecd00a-1a99-38eb-8393-b011c6620177","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"ExecuteScript","comments":"","instanceIdentifier":"7391d4e6-019b-1000-a644-153ee9103337"},"destination":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"d4ba0a7a-2c3e-3ccb-80cd-f9612f73d149","instanceIdentifier":"719a3e84-019b-1000-ff7d-b8611460ef77","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e"},"destination":{"id":"f68723ad-5c69-3a96-9166-887a7636e7a2","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083b19-244b-14e4-4224-eb730a2c8e16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"dc745a09-aca5-3108-b524-20f4a58237dc","instanceIdentifier":"70fde4ea-019b-1000-ea34-51416e378c8e","name":"","source":{"id":"c003f740-299d-3508-87c3-fcee9ef55848","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"GetFile","comments":"","instanceIdentifier":"ee083ad7-244b-14e4-48ae-446c6776d611"},"destination":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"SplitRecord","comments":"","instanceIdentifier":"70fdcaff-019b-1000-bc00-238a74e0e64f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"d8506645-c4b2-3c97-9b90-6eea0a3d2309","instanceIdentifier":"719b8b87-019b-1000-49ed-b2e9d50657ed","name":"","source":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"SplitRecord","comments":"","instanceIdentifier":"70fdcaff-019b-1000-bc00-238a74e0e64f"},"destination":{"id":"0c444c1a-620e-378a-ab13-0055aca62b50","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"719b7038-019b-1000-917e-60efe4e70753"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"labels":[],"funnels":[{"identifier":"8465c438-6bf0-3b27-b0eb-d1c99e294efe","instanceIdentifier":"718ee4f2-019b-1000-a772-49fab78a6fc6","position":{"x":504.0,"y":568.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"0c444c1a-620e-378a-ab13-0055aca62b50","instanceIdentifier":"719b7038-019b-1000-917e-60efe4e70753","position":{"x":-801.3395737416324,"y":411.53116138682867},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"fc6af941-7d2d-3031-89da-5d238981cf08","instanceIdentifier":"718f1bf2-019b-1000-da48-44f7e4e2be31","position":{"x":-896.0,"y":328.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"0d259089-7318-3dca-b322-2904fc81d713","instanceIdentifier":"ee083afd-244b-14e4-69c8-5d88b9ee95a2","position":{"x":984.0,"y":272.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","instanceIdentifier":"ee083aff-244b-14e4-5ce7-883141e7fc14","position":{"x":136.0,"y":544.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"403b47b4-155f-3b47-994a-410a87a4fa89","instanceIdentifier":"71826c9f-019b-1000-3b67-487a88ebd271","position":{"x":77.02282729087443,"y":278.2983673980257},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"581f26ec-b03e-3362-b880-5488979104c0","instanceIdentifier":"7102945f-019b-1000-0004-3bf548746f05","position":{"x":792.0,"y":-120.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"0454f639-7f58-3aa0-b7a1-c9bc610e600f","instanceIdentifier":"718ed571-019b-1000-bcd1-eb7ef2ca3bf8","position":{"x":824.0,"y":536.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"f68723ad-5c69-3a96-9166-887a7636e7a2","instanceIdentifier":"ee083b19-244b-14e4-4224-eb730a2c8e16","position":{"x":-760.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"144a25dc-0487-3117-9a11-c50d76d680e0","instanceIdentifier":"7196cc16-019b-1000-62a7-b201008a8b9f","position":{"x":-686.8291866126895,"y":567.5308192146639},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"controllerServices":[{"identifier":"567f0b74-edaa-38dd-8253-62254c5e815c","instanceIdentifier":"019b1000-6e0a-15fc-1875-d9adf143b3f8","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","instanceIdentifier":"019b1002-6e0a-15fc-e58c-4246690255b9","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"rfc-4180","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"64d865c4-c82d-332b-9c85-dc4861c5a900","instanceIdentifier":"019b1001-6e0a-15fc-4bdf-3184c82bc701","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}