flow.json
{"flowContents":{"identifier":"06c94972-1858-399a-a80e-c8c3f36e0d63","instanceIdentifier":"019b1000-65cd-15cd-e156-4c0bd591613e","name":"Copy of Copy of airlineflow_(1) (1)","comments":"","position":{"x":1231.665854448747,"y":191.93011952454665},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2fa82b89-b833-3f94-b8b3-a18a7b9df372","instanceIdentifier":"70af37a4-019b-1000-ce50-c9cf29c2bdfc","name":"ConvertRecord","comments":"","position":{"x":-408.0,"y":224.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"record-writer":"64d865c4-c82d-332b-9c85-dc4861c5a900","record-reader":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e","name":"EvaluateJsonPath","comments":"","position":{"x":-400.0,"y":432.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"base_delay":"$.arr_delay","base_late_aircraft_delay":"$.late_aircraft_delay","base_flights":"$.arr_flights","Destination":"flowfile-attribute","base_security_delay":"$.security_delay","base_carrier_delay":"$.carrier_delay","base_del15":"$.arr_del15","base_weather_delay":"$.weather_delay","Return Type":"auto-detect","Null Value Representation":"empty string","base_nas_delay":"$.nas_delay","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"base_delay":{"name":"base_delay","displayName":"base_delay","identifiesControllerService":false,"sensitive":false},"base_late_aircraft_delay":{"name":"base_late_aircraft_delay","displayName":"base_late_aircraft_delay","identifiesControllerService":false,"sensitive":false},"base_flights":{"name":"base_flights","displayName":"base_flights","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"base_security_delay":{"name":"base_security_delay","displayName":"base_security_delay","identifiesControllerService":false,"sensitive":false},"base_carrier_delay":{"name":"base_carrier_delay","displayName":"base_carrier_delay","identifiesControllerService":false,"sensitive":false},"base_del15":{"name":"base_del15","displayName":"base_del15","identifiesControllerService":false,"sensitive":false},"base_weather_delay":{"name":"base_weather_delay","displayName":"base_weather_delay","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"base_nas_delay":{"name":"base_nas_delay","displayName":"base_nas_delay","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"c5228e7a-e2b2-3e38-b8b5-01d5ed7efca3","instanceIdentifier":"ee083ae9-244b-14e4-82e3-e03c79a10d6d","name":"SplitText","comments":"","position":{"x":-408.0,"y":16.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"bc96a5cb-1758-327a-85fb-747e0c954a13","instanceIdentifier":"ee083aed-244b-14e4-da75-24521d821345","name":"DuplicateFlowFile","comments":"","position":{"x":72.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Number of Copies":"100"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b","name":"PublishKafka_2_6","comments":"","position":{"x":96.0,"y":376.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"compression.type":"gzip","attribute-name-regex":null,"bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"30 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"airline-delays","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"3839a00c-7ff0-3d95-8378-3be141f4717b","instanceIdentifier":"ee083aef-244b-14e4-bd0c-b86fe1ecf3a3","name":"UpdateRecord","comments":"","position":{"x":72.0,"y":32.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"/arr_del15":"${base_del15:toNumber():multiply(${random():mod(40):plus(80)}):divide(100):toDecimal()}","/year":"2025","/security_ct":"${security_ct:toNumber():mod(2)}","record-writer":"64d865c4-c82d-332b-9c85-dc4861c5a900","/sequence_number":"${now():toNumber()}","/kafka_key":"${airport}_${carrier}_${now():format('yyyyMMddHHmmssSSS')}","/weather_ct":"${weather_ct:toNumber():mod(3)}","/processing_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss.SSS')}","replacement-value-strategy":"literal-value","/message_id":"${UUID()}","/arr_delay":"${base_delay:toNumber():multiply(${random():mod(30):plus(85)}):divide(100):toDecimal()}","/weather_delay":"${base_weather_delay:toNumber():multiply(${random():mod(50):plus(75)}):divide(100):toDecimal()}","/month":"${random():mod(12):plus(1)}","/arr_flights":"${base_flights:toNumber():multiply(${random():mod(30):plus(85)}):divide(100):toDecimal()}","/carrier_delay":"${base_carrier_delay:toNumber():multiply(${random():mod(30):plus(85)}):divide(100):toDecimal()}","/late_aircraft_delay":"${base_late_aircraft_delay:toNumber():multiply(${random():mod(30):plus(85)}):divide(100):toDecimal()}","record-reader":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","/nas_delay":"${base_nas_delay:toNumber():multiply(${random():mod(30):plus(85)}):divide(100):toDecimal()}"},"propertyDescriptors":{"/arr_del15":{"name":"/arr_del15","displayName":"/arr_del15","identifiesControllerService":false,"sensitive":false},"/year":{"name":"/year","displayName":"/year","identifiesControllerService":false,"sensitive":false},"/security_ct":{"name":"/security_ct","displayName":"/security_ct","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/sequence_number":{"name":"/sequence_number","displayName":"/sequence_number","identifiesControllerService":false,"sensitive":false},"/kafka_key":{"name":"/kafka_key","displayName":"/kafka_key","identifiesControllerService":false,"sensitive":false},"/weather_ct":{"name":"/weather_ct","displayName":"/weather_ct","identifiesControllerService":false,"sensitive":false},"/processing_timestamp":{"name":"/processing_timestamp","displayName":"/processing_timestamp","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/message_id":{"name":"/message_id","displayName":"/message_id","identifiesControllerService":false,"sensitive":false},"/arr_delay":{"name":"/arr_delay","displayName":"/arr_delay","identifiesControllerService":false,"sensitive":false},"/weather_delay":{"name":"/weather_delay","displayName":"/weather_delay","identifiesControllerService":false,"sensitive":false},"/month":{"name":"/month","displayName":"/month","identifiesControllerService":false,"sensitive":false},"/arr_flights":{"name":"/arr_flights","displayName":"/arr_flights","identifiesControllerService":false,"sensitive":false},"/carrier_delay":{"name":"/carrier_delay","displayName":"/carrier_delay","identifiesControllerService":false,"sensitive":false},"/late_aircraft_delay":{"name":"/late_aircraft_delay","displayName":"/late_aircraft_delay","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/nas_delay":{"name":"/nas_delay","displayName":"/nas_delay","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8","name":"QueryRecord","comments":"","position":{"x":80.0,"y":200.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","invalid_records":"SELECT * FROM FLOWFILE WHERE arr_del15 > arr_flights OR arr_delay >= 100000","record-writer":"64d865c4-c82d-332b-9c85-dc4861c5a900","record-reader":"567f0b74-edaa-38dd-8253-62254c5e815c","include-zero-record-flowfiles":"false","dbf-default-scale":"0","valid_records":"SELECT * FROM FLOWFILE WHERE arr_flights > 0 AND arr_del15 <= arr_flights AND arr_delay < 100000"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"invalid_records":{"name":"invalid_records","displayName":"invalid_records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"valid_records":{"name":"valid_records","displayName":"valid_records","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"c003f740-299d-3508-87c3-fcee9ef55848","instanceIdentifier":"ee083ad7-244b-14e4-48ae-446c6776d611","name":"GetFile","comments":"","position":{"x":-400.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/data/raw","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"Airline_Delay_Cause.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4219df9c-081d-30a8-9169-f3a42083961e","instanceIdentifier":"70c4267c-019b-1000-c90b-25fef9706c69","name":"","source":{"id":"2fa82b89-b833-3f94-b8b3-a18a7b9df372","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"ConvertRecord","comments":"","instanceIdentifier":"70af37a4-019b-1000-ce50-c9cf29c2bdfc"},"destination":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"52f460c7-5662-3331-bb9e-fa8e9be9a537","instanceIdentifier":"ee083b09-244b-14e4-99b9-0177e344dc34","name":"","source":{"id":"c5228e7a-e2b2-3e38-b8b5-01d5ed7efca3","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"SplitText","comments":"","instanceIdentifier":"ee083ae9-244b-14e4-82e3-e03c79a10d6d"},"destination":{"id":"f68723ad-5c69-3a96-9166-887a7636e7a2","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083b19-244b-14e4-4224-eb730a2c8e16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"f2e77f38-a418-34d3-9d22-7eff33e8827d","instanceIdentifier":"70c5d8e7-019b-1000-06c1-dbdc1a0f80da","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e"},"destination":{"id":"bc96a5cb-1758-327a-85fb-747e0c954a13","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"ee083aed-244b-14e4-da75-24521d821345"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"3e4e5ae6-0cc2-36f5-8ad5-4cbf7660f04a","instanceIdentifier":"70c43e3c-019b-1000-59c7-5d425a712c1d","name":"","source":{"id":"2fa82b89-b833-3f94-b8b3-a18a7b9df372","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"ConvertRecord","comments":"","instanceIdentifier":"70af37a4-019b-1000-ce50-c9cf29c2bdfc"},"destination":{"id":"f68723ad-5c69-3a96-9166-887a7636e7a2","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083b19-244b-14e4-4224-eb730a2c8e16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"8f934b12-d405-33a6-a280-a6e2d5399a17","instanceIdentifier":"ee083b18-244b-14e4-5913-55896c965cc3","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"destination":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid_records"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"485a22fc-080e-3a37-930b-43121a57c30b","instanceIdentifier":"ee083b02-244b-14e4-00c4-e9fdf6d630dd","name":"","source":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b"},"destination":{"id":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083aff-244b-14e4-5ce7-883141e7fc14"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":710.0439147949219,"y":295.4307050704956}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"6e37de77-204c-333c-a920-abd28eb075f4","instanceIdentifier":"ee083afe-244b-14e4-6e2b-f2a6dfe0e17f","name":"","source":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"ee083afb-244b-14e4-eb76-8d1b4317924b"},"destination":{"id":"0d259089-7318-3dca-b322-2904fc81d713","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083afd-244b-14e4-69c8-5d88b9ee95a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"1d9240b3-a2f3-3374-9409-cc505c86421a","instanceIdentifier":"ee083aea-244b-14e4-42c7-439f9af166f5","name":"","source":{"id":"c003f740-299d-3508-87c3-fcee9ef55848","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"GetFile","comments":"","instanceIdentifier":"ee083ad7-244b-14e4-48ae-446c6776d611"},"destination":{"id":"c5228e7a-e2b2-3e38-b8b5-01d5ed7efca3","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"SplitText","comments":"","instanceIdentifier":"ee083ae9-244b-14e4-82e3-e03c79a10d6d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"dabf7bbc-be40-39e4-b75e-b954df30d668","instanceIdentifier":"ee083aec-244b-14e4-3e59-1f82d2c5655b","name":"","source":{"id":"c5228e7a-e2b2-3e38-b8b5-01d5ed7efca3","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"SplitText","comments":"","instanceIdentifier":"ee083ae9-244b-14e4-82e3-e03c79a10d6d"},"destination":{"id":"2fa82b89-b833-3f94-b8b3-a18a7b9df372","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"ConvertRecord","comments":"","instanceIdentifier":"70af37a4-019b-1000-ce50-c9cf29c2bdfc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"7a13148a-3b28-3728-ac96-4efb49deeddb","instanceIdentifier":"ee083b00-244b-14e4-5b94-dd5a268111d2","name":"","source":{"id":"3839a00c-7ff0-3d95-8378-3be141f4717b","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"UpdateRecord","comments":"","instanceIdentifier":"ee083aef-244b-14e4-bd0c-b86fe1ecf3a3"},"destination":{"id":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083aff-244b-14e4-5ce7-883141e7fc14"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"601e83d2-c555-331c-b0b4-1f2a0dcb22c8","instanceIdentifier":"70c62352-019b-1000-96cd-e97fb6e8e166","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"70a31726-019b-1000-b55b-c7749f202e4e"},"destination":{"id":"f68723ad-5c69-3a96-9166-887a7636e7a2","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083b19-244b-14e4-4224-eb730a2c8e16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"7ed88315-3282-3d48-9b64-1652b6f4299a","instanceIdentifier":"ee083af0-244b-14e4-ba43-7179aaef6307","name":"","source":{"id":"bc96a5cb-1758-327a-85fb-747e0c954a13","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"ee083aed-244b-14e4-da75-24521d821345"},"destination":{"id":"3839a00c-7ff0-3d95-8378-3be141f4717b","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"UpdateRecord","comments":"","instanceIdentifier":"ee083aef-244b-14e4-bd0c-b86fe1ecf3a3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"6d92d319-1e16-3bee-b4a0-18b3ac8167c9","instanceIdentifier":"ee083b17-244b-14e4-37c8-ac2cbd448c07","name":"","source":{"id":"3839a00c-7ff0-3d95-8378-3be141f4717b","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"UpdateRecord","comments":"","instanceIdentifier":"ee083aef-244b-14e4-bd0c-b86fe1ecf3a3"},"destination":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"59db19b4-87c7-3e1d-8882-f733eb78b3e9","instanceIdentifier":"ee083b1a-244b-14e4-bfe0-4dc9aa7fe267","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"QueryRecord","comments":"","instanceIdentifier":"ee083b16-244b-14e4-1045-878a39fac1d8"},"destination":{"id":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","type":"FUNNEL","groupId":"06c94972-1858-399a-a80e-c8c3f36e0d63","name":"Funnel","comments":"","instanceIdentifier":"ee083aff-244b-14e4-5ce7-883141e7fc14"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure","invalid_records"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"labels":[],"funnels":[{"identifier":"0d259089-7318-3dca-b322-2904fc81d713","instanceIdentifier":"ee083afd-244b-14e4-69c8-5d88b9ee95a2","position":{"x":776.0,"y":400.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","instanceIdentifier":"ee083aff-244b-14e4-5ce7-883141e7fc14","position":{"x":1056.0,"y":120.0},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"f68723ad-5c69-3a96-9166-887a7636e7a2","instanceIdentifier":"ee083b19-244b-14e4-4224-eb730a2c8e16","position":{"x":-937.7597636571523,"y":366.54510233873793},"componentType":"FUNNEL","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"controllerServices":[{"identifier":"567f0b74-edaa-38dd-8253-62254c5e815c","instanceIdentifier":"019b1000-6e0a-15fc-1875-d9adf143b3f8","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"56f4e4e9-b57e-38e2-b650-ef44f9587395","instanceIdentifier":"ee083af8-244b-14e4-2efe-6de41c7174ad","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","instanceIdentifier":"019b1002-6e0a-15fc-e58c-4246690255b9","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"rfc-4180","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"},{"identifier":"64d865c4-c82d-332b-9c85-dc4861c5a900","instanceIdentifier":"019b1001-6e0a-15fc-4bdf-3184c82bc701","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"06c94972-1858-399a-a80e-c8c3f36e0d63"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}