nifi/flows/streaming_flow.json
{"flowContents":{"identifier":"3748431d-3c88-3988-92e2-d018f5d58156","instanceIdentifier":"64da3036-d844-1941-41bf-6798573e0564","name":"streaming_flow_fixed (1)","comments":"","position":{"x":176.0,"y":-16.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6afbb436-7063-365c-9eca-0172975a551e","instanceIdentifier":"fcd4c587-719a-3dd3-7af4-7ebd6649fa39","name":"SplitRecord","comments":"","position":{"x":-704.0,"y":128.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Record Writer":"64d865c4-c82d-332b-9c85-dc4861c5a900","Record Reader":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","instanceIdentifier":"f7d5bde6-19c8-33f4-48a0-8f1e9d4ef946","name":"EvaluateJsonPath","comments":"","position":{"x":-352.0,"y":360.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"base_delay":"$.arr_delay","base_late_aircraft_delay":"$.late_aircraft_delay","base_flights":"$.arr_flights","Destination":"flowfile-attribute","tmpl_security_ct":"$.security_ct","tmpl_weather_ct":"$.weather_ct","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","tmpl_airport":"$.airport","base_security_delay":"$.security_delay","base_carrier_delay":"$.carrier_delay","base_del15":"$.arr_del15","base_weather_delay":"$.weather_delay","tmpl_carrier":"$.carrier","base_nas_delay":"$.nas_delay"},"propertyDescriptors":{"base_delay":{"name":"base_delay","displayName":"base_delay","identifiesControllerService":false,"sensitive":false},"base_late_aircraft_delay":{"name":"base_late_aircraft_delay","displayName":"base_late_aircraft_delay","identifiesControllerService":false,"sensitive":false},"base_flights":{"name":"base_flights","displayName":"base_flights","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"tmpl_security_ct":{"name":"tmpl_security_ct","displayName":"tmpl_security_ct","identifiesControllerService":false,"sensitive":false},"tmpl_weather_ct":{"name":"tmpl_weather_ct","displayName":"tmpl_weather_ct","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"tmpl_airport":{"name":"tmpl_airport","displayName":"tmpl_airport","identifiesControllerService":false,"sensitive":false},"base_security_delay":{"name":"base_security_delay","displayName":"base_security_delay","identifiesControllerService":false,"sensitive":false},"base_carrier_delay":{"name":"base_carrier_delay","displayName":"base_carrier_delay","identifiesControllerService":false,"sensitive":false},"base_del15":{"name":"base_del15","displayName":"base_del15","identifiesControllerService":false,"sensitive":false},"base_weather_delay":{"name":"base_weather_delay","displayName":"base_weather_delay","identifiesControllerService":false,"sensitive":false},"tmpl_carrier":{"name":"tmpl_carrier","displayName":"tmpl_carrier","identifiesControllerService":false,"sensitive":false},"base_nas_delay":{"name":"base_nas_delay","displayName":"base_nas_delay","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"bc96a5cb-1758-327a-85fb-747e0c954a13","instanceIdentifier":"cb303071-eedf-38ef-deea-42c9e0d1c335","name":"DuplicateFlowFile","comments":"","position":{"x":-392.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Number of Copies":"1"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","instanceIdentifier":"f29d9689-f2ec-37c0-07e6-94b986203a21","name":"PublishKafka_2_6","comments":"","position":{"x":640.0,"y":40.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"compression.type":"gzip","attribute-name-regex":null,"bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"30 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"airline-delays","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","instanceIdentifier":"8d9f3335-fe4c-3a47-01cd-5fd9b097907d","name":"QueryRecord","comments":"","position":{"x":336.0,"y":280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","invalid_records":"SELECT * FROM FLOWFILE WHERE arr_del15 > arr_flights OR arr_delay >= 100000","record-writer":"64d865c4-c82d-332b-9c85-dc4861c5a900","record-reader":"567f0b74-edaa-38dd-8253-62254c5e815c","include-zero-record-flowfiles":"false","dbf-default-scale":"0","valid_records":"SELECT * FROM FLOWFILE WHERE arr_flights > 0 AND arr_del15 <= arr_flights AND arr_delay < 100000"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"invalid_records":{"name":"invalid_records","displayName":"invalid_records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"valid_records":{"name":"valid_records","displayName":"valid_records","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"10ecd00a-1a99-38eb-8393-b011c6620177","instanceIdentifier":"71f4833d-cc5c-32c4-e511-b00a6bc63a3b","name":"ExecuteScript","comments":"","position":{"x":24.0,"y":96.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"import json\nimport sys\nimport traceback\nimport uuid\nimport random\nimport time\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\n\n\ndef clamp(v, lo, hi):\n    try:\n        if v < lo:\n            return lo\n        if v > hi:\n            return hi\n        return v\n    except:\n        return lo\n\n\nclass TransformCallback(StreamCallback):\n    def __init__(self):\n        self.template_record = None\n        self.output_record = None\n\n    def process(self, inputStream, outputStream):\n        try:\n            text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n            self.template_record = json.loads(text)\n\n            # Calibration factor to better match the real overall delay_rate.\n            # Based on benchmark vs. stream comparisons (tunable).\n            DELAY_RATE_CALIBRATION = 1.085\n\n            # Calibration factor to better match the real overall divert_rate.\n            # Based on benchmark vs. stream comparisons (tunable).\n            DIVERT_RATE_CALIBRATION = 1.19\n\n            base_flights = float(self.template_record.get('arr_flights', 0) or 0)\n            base_del15 = float(self.template_record.get('arr_del15', 0) or 0)\n            base_delay = float(self.template_record.get('arr_delay', 0) or 0)\n\n            base_carrier = self.template_record.get('carrier', '')\n            base_carrier_name = self.template_record.get('carrier_name', '')\n            base_airport = self.template_record.get('airport', '')\n            base_airport_name = self.template_record.get('airport_name', '')\n\n            # KEEP template month to preserve real seasonality.\n            month = int(self.template_record.get('month', 1) or 1)\n            if month < 1:\n                month = 1\n            if month > 12:\n                month = 12\n\n            # Flight volume: small multiplicative noise around template.\n            variation_factor = 0.90 + (random.random() * 0.20)  # 0.90..1.10\n            arr_flights = max(1, int(round(base_flights * variation_factor)))\n\n            # Delay-rate: use template's delay rate (+ small noise), rather than a fixed 25%.\n            if base_flights > 0:\n                base_delay_rate = base_del15 / base_flights\n            else:\n                base_delay_rate = 0.0\n\n            # add mild jitter so stream isn't constant\n            p = (base_delay_rate * DELAY_RATE_CALIBRATION) * (0.90 + 0.20 * random.random())\n            p = clamp(p, 0.0, 0.95)\n            arr_del15 = int(round(arr_flights * p))\n            arr_del15 = max(0, min(arr_flights, arr_del15))\n\n            # Delay minutes: preserve template's avg delay per delayed flight (+ noise)\n            if base_del15 > 0:\n                base_avg_per_delayed = base_delay / base_del15\n            else:\n                base_avg_per_delayed = 0.0\n\n            if base_avg_per_delayed <= 0 and arr_del15 > 0:\n                base_avg_per_delayed = 55.0\n\n            arr_delay = 0\n            carrier_delay = 0\n            weather_delay = 0\n            nas_delay = 0\n            security_delay = 0\n            late_aircraft_delay = 0\n\n            carrier_ct = 0.0\n            weather_ct = 0.0\n            nas_ct = 0.0\n            security_ct = 0.0\n            late_aircraft_ct = 0.0\n\n            if arr_del15 > 0:\n                avg_per_delayed = base_avg_per_delayed * (0.85 + 0.30 * random.random())\n                arr_delay = int(round(arr_del15 * avg_per_delayed))\n                arr_delay = max(0, arr_delay)\n\n                # Cause shares (minutes): start from template, add small jitter, renormalize.\n                base_carrier_delay = float(self.template_record.get('carrier_delay', 0) or 0)\n                base_weather_delay = float(self.template_record.get('weather_delay', 0) or 0)\n                base_nas_delay = float(self.template_record.get('nas_delay', 0) or 0)\n                base_security_delay = float(self.template_record.get('security_delay', 0) or 0)\n                base_late_delay = float(self.template_record.get('late_aircraft_delay', 0) or 0)\n\n                base_sum = base_carrier_delay + base_weather_delay + base_nas_delay + base_security_delay + base_late_delay\n                if base_sum <= 0:\n                    # fallback typical distribution\n                    shares = [0.30, 0.06, 0.26, 0.002, 0.378]\n                else:\n                    shares = [\n                        base_carrier_delay / base_sum,\n                        base_weather_delay / base_sum,\n                        base_nas_delay / base_sum,\n                        base_security_delay / base_sum,\n                        base_late_delay / base_sum,\n                    ]\n\n                # jitter\n                jittered = []\n                for s in shares:\n                    jittered.append(max(0.0, s * (0.90 + 0.20 * random.random())))\n\n                total = sum(jittered)\n                if total <= 0:\n                    jittered = [0.30, 0.06, 0.26, 0.002, 0.378]\n                    total = sum(jittered)\n\n                jittered = [x / total for x in jittered]\n\n                carrier_delay = int(round(arr_delay * jittered[0]))\n                weather_delay = int(round(arr_delay * jittered[1]))\n                nas_delay = int(round(arr_delay * jittered[2]))\n                security_delay = int(round(arr_delay * jittered[3]))\n                late_aircraft_delay = int(round(arr_delay * jittered[4]))\n\n                # exact sum fix (keep components non-negative)\n                target_sum = int(arr_delay)\n                parts = [\n                    int(carrier_delay),\n                    int(weather_delay),\n                    int(nas_delay),\n                    int(security_delay),\n                    int(late_aircraft_delay),\n                ]\n\n                # If rounding overshot arr_delay, remove minutes from components (never below 0).\n                overshoot = sum(parts) - target_sum\n                if overshoot > 0:\n                    for i in range(len(parts)):\n                        if overshoot <= 0:\n                            break\n                        take = min(parts[i], overshoot)\n                        parts[i] -= take\n                        overshoot -= take\n\n                # If rounding undershot arr_delay, add missing minutes to carrier delay.\n                undershoot = target_sum - sum(parts)\n                if undershoot > 0:\n                    parts[0] += undershoot\n\n                carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay = parts\n\n                # Cause counts: scale from template counts per delayed flight.\n                def per_delayed(name):\n                    try:\n                        v = float(self.template_record.get(name, 0) or 0)\n                        if base_del15 > 0:\n                            return v / base_del15\n                        return 0.0\n                    except:\n                        return 0.0\n\n                carrier_ct = clamp(arr_del15 * per_delayed('carrier_ct') * (0.85 + 0.30 * random.random()), 0.0, float(arr_del15))\n                weather_ct = clamp(arr_del15 * per_delayed('weather_ct') * (0.85 + 0.30 * random.random()), 0.0, float(arr_del15))\n                nas_ct = clamp(arr_del15 * per_delayed('nas_ct') * (0.85 + 0.30 * random.random()), 0.0, float(arr_del15))\n                security_ct = clamp(arr_del15 * per_delayed('security_ct') * (0.85 + 0.30 * random.random()), 0.0, float(arr_del15))\n                late_aircraft_ct = clamp(arr_del15 * per_delayed('late_aircraft_ct') * (0.85 + 0.30 * random.random()), 0.0, float(arr_del15))\n\n            # Cancel/divert: preserve template rates (+ small noise)\n            base_cancel = float(self.template_record.get('arr_cancelled', 0) or 0)\n            base_divert = float(self.template_record.get('arr_diverted', 0) or 0)\n            cancel_rate = (base_cancel / base_flights) if base_flights > 0 else 0.0\n            divert_rate = (base_divert / base_flights) if base_flights > 0 else 0.0\n            cancel_rate = clamp(cancel_rate * (0.90 + 0.20 * random.random()), 0.0, 0.20)\n            divert_rate = clamp(divert_rate * DIVERT_RATE_CALIBRATION * (0.90 + 0.20 * random.random()), 0.0, 0.05)\n            arr_cancelled = int(round(arr_flights * cancel_rate))\n            arr_diverted = int(round(arr_flights * divert_rate))\n\n            unique_id = \"{}_{}\".format(str(uuid.uuid4()), int(time.time() * 1000))\n\n            self.output_record = {\n                'id': unique_id,\n                'message_id': str(uuid.uuid4()),\n                'kafka_key': \"{}_{}_{}\".format(base_airport, base_carrier, int(time.time() * 1000)),\n                'processing_timestamp': time.strftime('%Y-%m-%d %H:%M:%S.000'),\n                'sequence_number': int(time.time() * 1000),\n\n                'year': 2025,\n                'month': month,\n                'carrier': base_carrier,\n                'carrier_name': base_carrier_name,\n                'airport': base_airport,\n                'airport_name': base_airport_name,\n\n                'arr_flights': arr_flights,\n                'arr_del15': arr_del15,\n\n                'carrier_ct': carrier_ct,\n                'weather_ct': weather_ct,\n                'nas_ct': nas_ct,\n                'security_ct': security_ct,\n                'late_aircraft_ct': late_aircraft_ct,\n\n                'arr_cancelled': arr_cancelled,\n                'arr_diverted': arr_diverted,\n\n                'arr_delay': arr_delay,\n                'carrier_delay': carrier_delay,\n                'weather_delay': weather_delay,\n                'nas_delay': nas_delay,\n                'security_delay': security_delay,\n                'late_aircraft_delay': late_aircraft_delay,\n            }\n\n            output_json = json.dumps(self.output_record)\n            outputStream.write(bytearray(output_json.encode('utf-8')))\n\n        except Exception as e:\n            traceback.print_exc(file=sys.stderr)\n            raise e\n\n\nflowFile = session.get()\nif flowFile is not None:\n    try:\n        callback = TransformCallback()\n        flowFile = session.write(flowFile, callback)\n        session.transfer(flowFile, REL_SUCCESS)\n    except Exception as e:\n        log.error('Error processing FlowFile: {}'.format(str(e)))\n        session.transfer(flowFile, REL_FAILURE)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"c003f740-299d-3508-87c3-fcee9ef55848","instanceIdentifier":"6ffd1f5a-4b95-3947-8cd8-7c0e2a2edd6e","name":"GetFile","comments":"","position":{"x":-896.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"Nifi_Templates_1500.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cb391c1d-d6b0-39f7-bd2d-232210e49497","instanceIdentifier":"685219c0-a4be-3849-4ef7-a267f1305a1b","name":"","source":{"id":"bc96a5cb-1758-327a-85fb-747e0c954a13","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"cb303071-eedf-38ef-deea-42c9e0d1c335"},"destination":{"id":"10ecd00a-1a99-38eb-8393-b011c6620177","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"ExecuteScript","comments":"","instanceIdentifier":"71f4833d-cc5c-32c4-e511-b00a6bc63a3b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"f2e77f38-a418-34d3-9d22-7eff33e8827d","instanceIdentifier":"bd0cd110-2b18-3e6d-3097-6c8ce29b3d8e","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f7d5bde6-19c8-33f4-48a0-8f1e9d4ef946"},"destination":{"id":"bc96a5cb-1758-327a-85fb-747e0c954a13","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"cb303071-eedf-38ef-deea-42c9e0d1c335"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"8f934b12-d405-33a6-a280-a6e2d5399a17","instanceIdentifier":"4f49fda3-6bba-33ed-50b5-a54f39110724","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"QueryRecord","comments":"","instanceIdentifier":"8d9f3335-fe4c-3a47-01cd-5fd9b097907d"},"destination":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"f29d9689-f2ec-37c0-07e6-94b986203a21"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid_records"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"485a22fc-080e-3a37-930b-43121a57c30b","instanceIdentifier":"e6efd419-f167-3f45-ab0a-ff0ed8936ef1","name":"","source":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"f29d9689-f2ec-37c0-07e6-94b986203a21"},"destination":{"id":"581f26ec-b03e-3362-b880-5488979104c0","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"dd7cb659-35e7-3712-9446-cc0572b5874d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":816.0,"y":-24.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"2e7b9836-0bda-35bc-9be8-9e37ee523608","instanceIdentifier":"d4b3f52a-5678-32ad-8472-ebef05917f91","name":"","source":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"SplitRecord","comments":"","instanceIdentifier":"fcd4c587-719a-3dd3-7af4-7ebd6649fa39"},"destination":{"id":"fc6af941-7d2d-3031-89da-5d238981cf08","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"9fd7223a-12d3-3b5a-df2c-cba86846d344"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"6e37de77-204c-333c-a920-abd28eb075f4","instanceIdentifier":"98394f30-5fcb-3f6c-6000-bc69b69db45d","name":"","source":{"id":"6f3d8e75-3d5e-34f4-b9e5-f0fa6df98e1e","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"f29d9689-f2ec-37c0-07e6-94b986203a21"},"destination":{"id":"0d259089-7318-3dca-b322-2904fc81d713","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"b891af47-4e50-33a2-fcdc-1c0101ec408d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"9dd4927a-dc01-3291-9a4c-f1bcb4d8aeb7","instanceIdentifier":"7fae7849-4ff0-3e52-8e62-0ddc609df802","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f7d5bde6-19c8-33f4-48a0-8f1e9d4ef946"},"destination":{"id":"144a25dc-0487-3117-9a11-c50d76d680e0","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"a0b99755-83fa-3e29-4ecd-036e8b8fa732"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"f3c6139a-0356-3acd-af4b-41f26b25a45b","instanceIdentifier":"bcd060d4-e437-35f5-9c6a-bd87395a3bab","name":"","source":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"SplitRecord","comments":"","instanceIdentifier":"fcd4c587-719a-3dd3-7af4-7ebd6649fa39"},"destination":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f7d5bde6-19c8-33f4-48a0-8f1e9d4ef946"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"58b48c9b-66ef-3532-ad1e-c91a4ef97bbf","instanceIdentifier":"7e3a611d-bc5c-37b9-3742-f95a24fcce14","name":"","source":{"id":"10ecd00a-1a99-38eb-8393-b011c6620177","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"ExecuteScript","comments":"","instanceIdentifier":"71f4833d-cc5c-32c4-e511-b00a6bc63a3b"},"destination":{"id":"403b47b4-155f-3b47-994a-410a87a4fa89","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"d0bb69cb-ac53-336a-8b08-6f4d5f5944fb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"868e8b0d-dfac-37ac-a51f-be3b6745af16","instanceIdentifier":"ea7a687b-3e89-358d-d4c8-4830b817cc2f","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"QueryRecord","comments":"","instanceIdentifier":"8d9f3335-fe4c-3a47-01cd-5fd9b097907d"},"destination":{"id":"8465c438-6bf0-3b27-b0eb-d1c99e294efe","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"9fbbdac1-acf2-3efc-3273-3d89fa0cd979"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"1646c08a-98f2-32b8-abea-06acfe3db336","instanceIdentifier":"203cd61d-d971-35ee-75d6-e421edd611a0","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"QueryRecord","comments":"","instanceIdentifier":"8d9f3335-fe4c-3a47-01cd-5fd9b097907d"},"destination":{"id":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"11b34d70-7fd1-3f27-8f2d-6460c5175887"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"f14fa01d-7298-3fc8-acf8-9392c821adcf","instanceIdentifier":"435abdf9-30bc-333f-478e-68238afd01b9","name":"","source":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"QueryRecord","comments":"","instanceIdentifier":"8d9f3335-fe4c-3a47-01cd-5fd9b097907d"},"destination":{"id":"0454f639-7f58-3aa0-b7a1-c9bc610e600f","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"ff6c7d3c-f8af-3fcf-d1dd-93127267ac51"},"labelIndex":1,"zIndex":0,"selectedRelationships":["invalid_records"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"d4ba0a7a-2c3e-3ccb-80cd-f9612f73d149","instanceIdentifier":"f4f1dadf-0639-34f8-302d-bce6aa4cb3f9","name":"","source":{"id":"87da19a3-af86-35ed-9c88-88eaf7e8f2e2","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f7d5bde6-19c8-33f4-48a0-8f1e9d4ef946"},"destination":{"id":"f68723ad-5c69-3a96-9166-887a7636e7a2","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"cc54975b-d2bc-30fd-17a1-9bd0731edef2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"661cfb7e-af4d-310a-b692-24207e7a0f5a","instanceIdentifier":"6ef8d773-a733-384e-7700-ef4f7ddf8696","name":"","source":{"id":"10ecd00a-1a99-38eb-8393-b011c6620177","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"ExecuteScript","comments":"","instanceIdentifier":"71f4833d-cc5c-32c4-e511-b00a6bc63a3b"},"destination":{"id":"caaca429-eb80-3eda-a932-6f3c2a4b2e85","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"QueryRecord","comments":"","instanceIdentifier":"8d9f3335-fe4c-3a47-01cd-5fd9b097907d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"dc745a09-aca5-3108-b524-20f4a58237dc","instanceIdentifier":"6b3d542a-9ffd-3302-fe75-9dc6eeca3947","name":"","source":{"id":"c003f740-299d-3508-87c3-fcee9ef55848","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"GetFile","comments":"","instanceIdentifier":"6ffd1f5a-4b95-3947-8cd8-7c0e2a2edd6e"},"destination":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"SplitRecord","comments":"","instanceIdentifier":"fcd4c587-719a-3dd3-7af4-7ebd6649fa39"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"d8506645-c4b2-3c97-9b90-6eea0a3d2309","instanceIdentifier":"856ac2c8-a198-3f38-e2ad-019859d1dc16","name":"","source":{"id":"6afbb436-7063-365c-9eca-0172975a551e","type":"PROCESSOR","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"SplitRecord","comments":"","instanceIdentifier":"fcd4c587-719a-3dd3-7af4-7ebd6649fa39"},"destination":{"id":"0c444c1a-620e-378a-ab13-0055aca62b50","type":"FUNNEL","groupId":"3748431d-3c88-3988-92e2-d018f5d58156","name":"Funnel","comments":"","instanceIdentifier":"e30fcdf6-7c91-3a0b-0ed5-933aee836e65"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"}],"labels":[],"funnels":[{"identifier":"8465c438-6bf0-3b27-b0eb-d1c99e294efe","instanceIdentifier":"9fbbdac1-acf2-3efc-3273-3d89fa0cd979","position":{"x":504.0,"y":568.0},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"0c444c1a-620e-378a-ab13-0055aca62b50","instanceIdentifier":"e30fcdf6-7c91-3a0b-0ed5-933aee836e65","position":{"x":-801.3395737416324,"y":411.53116138682867},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"fc6af941-7d2d-3031-89da-5d238981cf08","instanceIdentifier":"9fd7223a-12d3-3b5a-df2c-cba86846d344","position":{"x":-896.0,"y":328.0},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"0d259089-7318-3dca-b322-2904fc81d713","instanceIdentifier":"b891af47-4e50-33a2-fcdc-1c0101ec408d","position":{"x":984.0,"y":272.0},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"57b425b0-16f8-3f1b-9f21-7782e35b7a03","instanceIdentifier":"11b34d70-7fd1-3f27-8f2d-6460c5175887","position":{"x":136.0,"y":544.0},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"403b47b4-155f-3b47-994a-410a87a4fa89","instanceIdentifier":"d0bb69cb-ac53-336a-8b08-6f4d5f5944fb","position":{"x":77.02282729087443,"y":278.2983673980257},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"581f26ec-b03e-3362-b880-5488979104c0","instanceIdentifier":"dd7cb659-35e7-3712-9446-cc0572b5874d","position":{"x":792.0,"y":-120.0},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"0454f639-7f58-3aa0-b7a1-c9bc610e600f","instanceIdentifier":"ff6c7d3c-f8af-3fcf-d1dd-93127267ac51","position":{"x":824.0,"y":536.0},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"f68723ad-5c69-3a96-9166-887a7636e7a2","instanceIdentifier":"cc54975b-d2bc-30fd-17a1-9bd0731edef2","position":{"x":-760.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"144a25dc-0487-3117-9a11-c50d76d680e0","instanceIdentifier":"a0b99755-83fa-3e29-4ecd-036e8b8fa732","position":{"x":-686.8291866126895,"y":567.5308192146639},"componentType":"FUNNEL","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"}],"controllerServices":[{"identifier":"567f0b74-edaa-38dd-8253-62254c5e815c","instanceIdentifier":"cd3fa3db-39c2-39bf-7b1e-3f4ba491b22e","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","instanceIdentifier":"42a75be5-2a1f-3067-5502-1ea90ed3283c","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"rfc-4180","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"},{"identifier":"64d865c4-c82d-332b-9c85-dc4861c5a900","instanceIdentifier":"fc1c6c82-1cf3-3494-f9c5-cc294f826c0f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3748431d-3c88-3988-92e2-d018f5d58156"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}