scripts/airlineflow (1).json
{"flowContents":{"identifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca","instanceIdentifier":"464fbe4b-019b-1000-bec6-accaa8e4d7e4","name":"airlineflow","comments":"","position":{"x":112.0,"y":144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8d0fdd56-398a-30e1-9806-983aea2dc345","instanceIdentifier":"ca036883-38c3-30ba-a4f3-efb89f698115","name":"UpdateAttribute","comments":"","position":{"x":848.0,"y":-112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"kafka.key":"${UUID()}","ingestion.time":"${now():format('yyyy-MM-dd HH:mm:ss')","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false},"ingestion.time":{"name":"ingestion.time","displayName":"ingestion.time","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"e9563463-4b40-36a9-84ed-c3003d499fa2","instanceIdentifier":"e55281d7-6083-3d9d-13aa-7dade013b0a5","name":"SplitText","comments":"","position":{"x":384.0,"y":120.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"31055bed-0477-3888-b8bf-c66dbea289b7","instanceIdentifier":"da75a73a-e9e1-3f5e-dcba-72178c5bee70","name":"ConvertRecord","comments":"","position":{"x":624.0,"y":400.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"record-writer":"cacc8397-7280-36c5-b01f-4eedce4b27af","record-reader":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"17c46345-2fd9-35e6-a32d-cb47565c3ddf","instanceIdentifier":"0cd21a4c-d3ac-36cf-931e-97fc89859a2a","name":"GetFile","comments":"","position":{"x":376.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/data/raw","Maximum File Age":null,"Batch Size":"1","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"Airline_Delay_Cause.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"1d557c8e-347c-3ab9-b9c1-a6217c80cc94","instanceIdentifier":"467fd4c1-019b-1000-eb71-742a8be659d9","name":"PublishKafka_2_6","comments":"","position":{"x":1032.0,"y":152.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"compression.type":"gzip","attribute-name-regex":null,"bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"30 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"airline-delays","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9155fbb6-643e-3afe-ab20-c705000320e5","instanceIdentifier":"4a6d1de8-019b-1000-a0d0-ceaea5a1e687","name":"","source":{"id":"e9563463-4b40-36a9-84ed-c3003d499fa2","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"SplitText","comments":"","instanceIdentifier":"e55281d7-6083-3d9d-13aa-7dade013b0a5"},"destination":{"id":"31055bed-0477-3888-b8bf-c66dbea289b7","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"ConvertRecord","comments":"","instanceIdentifier":"da75a73a-e9e1-3f5e-dcba-72178c5bee70"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"cfaf347f-156a-3acc-8046-c172d5692b49","instanceIdentifier":"4a7b8ee6-5ff5-3625-bcd5-f6521ca27ab6","name":"","source":{"id":"17c46345-2fd9-35e6-a32d-cb47565c3ddf","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"GetFile","comments":"","instanceIdentifier":"0cd21a4c-d3ac-36cf-931e-97fc89859a2a"},"destination":{"id":"e9563463-4b40-36a9-84ed-c3003d499fa2","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"SplitText","comments":"","instanceIdentifier":"e55281d7-6083-3d9d-13aa-7dade013b0a5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"fd406d05-2869-3906-804b-197b30b26887","instanceIdentifier":"4a701be5-019b-1000-85a9-9cdbf01e427d","name":"","source":{"id":"1d557c8e-347c-3ab9-b9c1-a6217c80cc94","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"467fd4c1-019b-1000-eb71-742a8be659d9"},"destination":{"id":"9084f341-7909-356b-9fe3-3ead4cbdbfe6","type":"FUNNEL","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"Funnel","comments":"","instanceIdentifier":"4a70052a-019b-1000-6495-34fa2f7065ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"b558357a-252f-3663-bbb6-832e009ef80f","instanceIdentifier":"4a6ddd21-019b-1000-d146-b3703519b16f","name":"","source":{"id":"1d557c8e-347c-3ab9-b9c1-a6217c80cc94","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"467fd4c1-019b-1000-eb71-742a8be659d9"},"destination":{"id":"8b1df2b7-3145-3a00-88b1-bbc5fdff1bd3","type":"FUNNEL","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"Funnel","comments":"","instanceIdentifier":"5e612242-fd90-3cec-fe08-f42cb97d4b83"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"f49c9e62-0098-3b95-aa1d-12a6e5d9c15d","instanceIdentifier":"b10df09e-bba3-3e27-23db-ccbd0ea142a3","name":"","source":{"id":"e9563463-4b40-36a9-84ed-c3003d499fa2","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"SplitText","comments":"","instanceIdentifier":"e55281d7-6083-3d9d-13aa-7dade013b0a5"},"destination":{"id":"05541ca2-3156-3fd5-abb9-5fbb7814faa4","type":"FUNNEL","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"Funnel","comments":"","instanceIdentifier":"ee1c8fa7-d6ce-383a-8077-8e6735921af9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"82b350fc-2eee-3cf5-9b05-d2b3579101c0","instanceIdentifier":"4a6d4eef-019b-1000-2547-cdb7e1cd1454","name":"","source":{"id":"31055bed-0477-3888-b8bf-c66dbea289b7","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"ConvertRecord","comments":"","instanceIdentifier":"da75a73a-e9e1-3f5e-dcba-72178c5bee70"},"destination":{"id":"8d0fdd56-398a-30e1-9806-983aea2dc345","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"UpdateAttribute","comments":"","instanceIdentifier":"ca036883-38c3-30ba-a4f3-efb89f698115"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"3f7600d4-f5cb-34ee-8ca6-f5659cd02e73","instanceIdentifier":"4a6d8d6f-019b-1000-020d-228439766e3a","name":"","source":{"id":"8d0fdd56-398a-30e1-9806-983aea2dc345","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"UpdateAttribute","comments":"","instanceIdentifier":"ca036883-38c3-30ba-a4f3-efb89f698115"},"destination":{"id":"1d557c8e-347c-3ab9-b9c1-a6217c80cc94","type":"PROCESSOR","groupId":"71181779-e820-3c9c-ad00-4ce2dd0432ca","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"467fd4c1-019b-1000-eb71-742a8be659d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"}],"labels":[],"funnels":[{"identifier":"05541ca2-3156-3fd5-abb9-5fbb7814faa4","instanceIdentifier":"ee1c8fa7-d6ce-383a-8077-8e6735921af9","position":{"x":416.0,"y":336.0},"componentType":"FUNNEL","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"9084f341-7909-356b-9fe3-3ead4cbdbfe6","instanceIdentifier":"4a70052a-019b-1000-6495-34fa2f7065ec","position":{"x":1280.0,"y":504.0},"componentType":"FUNNEL","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"8b1df2b7-3145-3a00-88b1-bbc5fdff1bd3","instanceIdentifier":"5e612242-fd90-3cec-fe08-f42cb97d4b83","position":{"x":1032.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"}],"controllerServices":[{"identifier":"cacc8397-7280-36c5-b01f-4eedce4b27af","instanceIdentifier":"cb6d859c-7545-3497-8aae-8bbf3e117fd6","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"},{"identifier":"478fac8c-e972-3dc9-96cc-9601f59f3f5f","instanceIdentifier":"00f1e954-a15d-349b-f8f2-1971bd5da126","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"rfc-4180","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"71181779-e820-3c9c-ad00-4ce2dd0432ca"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}